@model devarts.Models.Post

@section metatags
{
    <meta property="og:title" content="@Model.PostName">
    <meta property="og:image" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/Posts/@Model.PostLink/@Model.MainPicture">
    <meta property="og:url" content="@System.Web.Configuration.WebConfigurationManager.AppSettings["webDomainName"]/Home/News/@Model.PostLink">
    <meta property="og:description" content="@Model.PostContentShort">
    <meta property="og:type" content="article">
    <meta name="robots" content="noodp">
}

<script>
    $(document).ready(function () {
        if (location.hash) {
            $('a[href="' + location.hash + '"]').tab('show');
        }
        $(document.body).on("click", "a[data-toggle]", function (event) {
            location.hash = this.getAttribute("href");
        });
    });
    $(window).on('popstate', function () {
        var anchor = location.hash || $("a[data-toggle=tab]").first().attr("href");
        $('.tab-pane').addClass('fade');
        $('a[href="' + anchor + '"]').tab('show');
    });
</script>

<style>
    #dog {
        transition: all 1s ease;
    }

        #dog:hover {
            transform: scale(1.2, 1.2);
        }

    #img_cnt {
        position: relative;
        overflow: hidden;
        background-size: cover !important;
        z-index: 1;
        margin: 0;
        background-color: rgba(255,255,255,.7);
    }

    .img_cnt_master {
        border: solid 5px rgba(255,255,255,.7);
        cursor: pointer;
        background-color: rgba(255,255,255,.7);
        /*height:560px;*/
        box-shadow: 2px 2px 2px silver;
    }

    #opacityDiv {
        background-color: white;
        /*opacity: 0.8;*/
        margin: 0;
        background-color: rgba(255,255,255,.7);
        padding: 10px;
        border-radius: 5px;
    }

    #newsContainer h4, h2 {
        margin-top: 0;
        font-stretch: condensed;
    }

    #opacityDiv h3, #opacityDiv h4 {
        font-stretch: condensed;
        letter-spacing: 1px;
    }

    .news-opacity-div {
        position: absolute;
        display: table;
        left: 21%;
        top: 80%;
        padding: 5px;
        width: 60%;
        background-color: rgba(50,50,50,.5);
        text-align: center;
        color: #fff;
        border-radius: 5px;
        font-weight: bold;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(80,80,80,0.1)), to(rgba(50,50,50,0.6)), color-stop(.9,#333333));
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .art {
        font-family: poppins,sans-serif;
        color: white;
    }

        .art p {
            font-family: poppins,sans-serif;
            color: white;
        }

        .art a {
            color: gold;
            font-weight: bold;
        }
</style>

<section class="content background-grey">
    <div class="container">
        <div class="belagio_container">
            <div class="row">
                @if (User.IsInRole("Administrator"))
                {
                    <div class="col-lg-12 text-center">
                        <a style="rgba(170, 150, 91):10px !important" class="btn btn-default" href="@Url.Action("EditPost", "Admin", new { postLink = Model.PostLink })"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edytuj wpis</a>
                    </div>
                    <hr />
                }

                <div class="col-lg-12">
                    <img style="width:100%" class="picture-border" alt="" src="/Posts/@Model.PostLink/@Model.MainPicture" onclick="window.location='/Home/News/@Model.PostLink'">
                </div>

                <div class="col-lg-12">
                    <hr />
                    <h5 class="text-center"><b><i class="fa fa-eye"> @Model.PostShow</i></b>&nbsp;&nbsp;<i class="fa fa-user"></i> @Model.AuthorName&nbsp;&nbsp;<i class="fa fa-calendar"></i>  @Model.PostDateOkay.ToString("dd/MM/yyyy")</h5>
                    <hr />
                    <h3 class="text-center ">@Model.PostName</h3>
                    <hr class="hr-gold" />
                    <h3 class="text-center"><small style="color:gray; font-weight: bold;">@Model.PostNameEng</small></h3>
                    <hr />
                </div>

                <div class="col-lg-12">
                    <div class="space"></div>
                    <div class="tabs tabs-vertical">
                        <div class="row">
                            <div class="col-md-2">                                
                                <ul class="nav flex-column nav-tabs" id="myTab4" role="tablist"
                                    aria-orientation="vertical">
                                    <li class="nav-item">
                                        <a style="color: rgba(170, 150, 91)" class="nav-link active gold" id="profile-tab" data-toggle="tab" href="#profile4"
                                           role="tab" aria-controls="profile" aria-selected="false"><i class="fa fa-language "></i> PL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a style="color: rgba(170, 150, 91)" class="nav-link" id="contact-tab" data-toggle="tab" href="#contact4"
                                           role="tab" aria-controls="contact" aria-selected="false"><i class="fa fa-language"></i> EN</a>
                                    </li>                                    
                                </ul>
                            </div>

                            <div class="col-md-10">
                                <div class="tab-content" id="v-pills-tabContent">
                                    @*<div class="tab-pane fade active" id="v-pills-profile" role="tabpanel"
                                         aria-labelledby="v-pills-profile-tab">...</div>
                                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                                         aria-labelledby="v-pills-messages-tab">...</div>
                                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                                         aria-labelledby="v-pills-settings-tab">...</div>*@
                                </div>
                                <div class="tab-content" id="myTabContent4">
                                    <div class="tab-pane fade show active" id="profile4" role="tabpanel"
                                         aria-labelledby="profile-tab">
                                         <div class="art" style="color:white !important">@Html.Raw(Model.PostContent)</div>
                                    </div>
                                    <div class="tab-pane fade" id="contact4" role="tabpanel"
                                         aria-labelledby="contact-tab">
                                         <div class="art" style="color:white !important">@Html.Raw(Model.PostContentEng)</div>                                        
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <p>Tagi<small> \ Tags</small></p>
                    <hr />
                    <p style="text-transform:capitalize">@Model.Tags</p>
                </div>
            </div>
        </div>
    </div>
</section>
