@model List<devarts.Models.Dog>

<style>
    .col-sm-6 {
        height: 450px;
    }

    #dog {
        transition: all 1s ease;
    }

        #dog:hover {
            transform: scale(1.2, 1.2);
        }

    #img_cnt {
        /*position:absolute;*/
        overflow: hidden;
        border: solid 5px white;
        cursor: pointer;
    }
</style>

@*<div id="img_cnt">
        <img alt="" src="/img/dog_photos/Skazka/hoverselect1.jpg" class="img-responsive" id="dog" onclick="window.location='/Borzoi/KniazhnieZolotoSkazka'">
    </div>*@

<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    CHARCIKI <strong>Włoskie</strong> - SUKI
                    <br />
                    <small>HODOWLA</small>
                </h2>
                <hr>
            </div>
            <!--WIEK PRODUKCYJNY-->
            @{
                var maleDogs = Model.Where(d => d.DogSex == true && d.IsReproductor == true && !d.IsRetired).OrderByDescending(d => d.BornDateDateTime);
                var femaleDogs = Model.Where(d => d.DogSex == false && !d.IsRetired).OrderByDescending(d => d.BornDateDateTime);
            }

            @foreach (var dog in femaleDogs)
            {
                if (dog.Coowner == false)
                {
                    <div class="col-sm-6 text-center">
                        <div id="img_cnt">
                            <img alt="" src="/Dogs/@dog.BreedLink/@dog.DogLink/@dog.MainPicture" class="img-responsive" id="dog" onclick="window.location='/Dog/@dog.DogLink'">
                        </div>
                        <h4>
                            @dog.DogName
                            <small>@dog.BreedName</small>
                        </h4>

                    </div>
                }
            }

            <!--EMERYTURA-->
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    CHARCIKI <strong>Włoskie</strong> - SUKI
                    <br />
                    <small>PSIA EMERYTURA</small>
                </h2>
                <hr>
            </div>

            @{
                var femaleDogsRetired = Model.Where(d => d.DogSex == false && d.IsRetired).OrderByDescending(d => d.BornDateDateTime);
            }
            @foreach (var dog in femaleDogsRetired)
            {
                <div class="col-sm-6 text-center">
                    <div id="img_cnt">
                        <img alt="" src="/Dogs/@dog.BreedLink/@dog.DogLink/@dog.MainPicture" class="img-responsive" id="dog" onclick="window.location='/Dog/@dog.DogLink'">
                    </div>
                    <h4>
                        @dog.DogName
                        <small>@dog.BreedName</small>
                    </h4>

                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    CHARCIKI <strong>Włoskie</strong> - PSY
                </h2>
                <hr>
            </div>
            @foreach (var dog in maleDogs)
            {
                if (dog.Coowner == false)
                {
                    if (maleDogs.Last() != dog)
                    {
                        <div class="col-sm-6 text-center">
                            <div id="img_cnt">
                                <img alt="" src="/Dogs/@dog.BreedLink/@dog.DogLink/@dog.MainPicture" class="img-responsive" id="dog" onclick="window.location='/Dog/@dog.DogLink'">
                            </div>
                            <h4>
                                @dog.DogName
                                <small>@dog.BreedName</small>
                            </h4>

                        </div>
                    }
                    else
                    {
                        // jeśli jest nieparzysta liczba, to ostatnie zdjęcie ma być na col-..-12
                        if (maleDogs.Count() / 2 == 0)
                        {
                            <div class="col-sm-12 text-center">
                                <div id="img_cnt">
                                    <img alt="" src="/Dogs/@dog.BreedLink/@dog.DogLink/@dog.MainPicture" class="img-responsive" id="dog" onclick="window.location='/Dog/@dog.DogLink'">
                                </div>
                                <h4>
                                    @dog.DogName
                                    <small>@dog.BreedName</small>
                                </h4>
                            </div>
                        }
                        else
                        {
                            <div class="col-sm-6 text-center">
                                <div id="img_cnt">
                                    <img alt="" src="/Dogs/@dog.BreedLink/@dog.DogLink/@dog.MainPicture" class="img-responsive" id="dog" onclick="window.location='/Dog/@dog.DogLink'">
                                </div>
                                <h4>
                                    @dog.DogName
                                    <small>@dog.BreedName</small>
                                </h4>
                            </div>
                        }
                    }

                }
            }

            <!--EMERYTURA-->
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    CHARCIKI <strong>Włoskie</strong> - PSY
                    <br />
                    <small>PSIA EMERYTURA</small>
                </h2>
                <hr>
            </div>

            @{
                var maleDogsRetired = Model.Where(d => d.DogSex == true && d.IsRetired).OrderByDescending(d => d.BornDateDateTime);
            }
            @foreach (var dog in maleDogsRetired)
            {
                <div class="col-sm-6 text-center">
                    <div id="img_cnt">
                        <img alt="" src="/Dogs/@dog.BreedLink/@dog.DogLink/@dog.MainPicture" class="img-responsive" id="dog" onclick="window.location='/Dog/@dog.DogLink'">
                    </div>
                    <h4>
                        @dog.DogName
                        <small>@dog.BreedName</small>
                    </h4>

                </div>
            }

            <div class="clearfix"></div>
        </div>
    </div>
</div>